*/.ipynb_checkpoints/*
.DS_Store
.idea
.ipynb_checkpoints
.jupyter
.obsidian
.quarto
.quartz-cache
.replit
.Rproj.user
.Rhistory
/.luarc.json
/.quarto/
/_*.local
_meta
_private
_quarto.yml.local
_site
node_modules
private/
prof
public
site_libs/*
