*/.ipynb_checkpoints/*
.DS_Store
.idea/*
.ipynb_checkpoints/*
.jupyter/*
.obsidian/*
.quarto/*
.quartz-cache
.replit
.Rproj.user
/.quarto/
/_*.local
_quarto.yml.local
_site/
_site/*
node_modules
private/
prof
public
