*/.ipynb_checkpoints/*
.DS_Store
.idea/*
.ipynb_checkpoints/*
.jupyter/*
.obsidian/*
.quarto/*
.quartz-cache
.replit
.Rproj.user
/.quarto/
/_*.local
_quarto.yml.local
_site/*
_meta/*
node_modules
private/
_private
prof
public

/.luarc.json
