/* css styles */
div.quarto-about-broadside .about-main .about-entity {
  background-size: contain;
}

.navbar-brand > img {
  max-height: 40px 
}

.card-file-modified:before {
    content: "Updated: ";
    font: var(--bs-font-sans-serif);
}

.card-other-values tr > td:first-of-type {
  display: none;
}

progress {
  width: 100%;
}
