{{- $src := .Destination | safeURL -}}
{{- $width := index (split .Text "|") 1 | default "auto" -}}
{{- $external := strings.HasPrefix $src "http" -}}
{{- if $external -}}
<div class="article-img">
  <img src="{{ $src }}" width="{{ $width }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}" {{ end }}/>
</div>
{{- else -}}
{{- $coverPath := $src | default "imgs/missing.png" -}}
{{- $cover := resources.GetMatch $coverPath -}}
<div class="article-img">
  <img src="{{ $cover.RelPermalink }}" width="{{ $width }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}" {{ end }}/>
</div>
{{- end -}}

