
/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

$theme-body-bg: #fffbf2;

$font-family-sans-serif: "Alegreya Sans";
$font-family-serif: "Alegreya";

$font-family-headings: $font-family-serif;
$font-weight-headings: 400;

$theme-header-colour: #a23e02;
$theme-text-colour: #2c251d;

$theme-link-color: #736b63;
$theme-link-decoration: underline;
$theme-link-hover-color: #968d85;


/*-- scss:rules --*/
body{
    background-color: $theme-body-bg;
    color: $theme-text-colour;
    font-family: $font-family-serif;
}

.navbar{
    background-color: #fffbf2;
}

.navbar .dropdown-item {
    color: $theme-link-color !important;
    font-family: $font-family-sans-serif !important;
    text-transform: lowercase;

    &:hover {
        text-decoration: underline;
        color: $theme-link-hover-color;
    }
}

.navbar-nav .nav-link {
    color: $theme-link-color !important;
    font-family: $font-family-sans-serif !important;
    text-transform: lowercase;  
    margin: 0px 10px 0px 10px;
    padding: 2px 2px 4px 2px !important;

    &:hover {
        text-decoration: underline;
        color: $theme-link-hover-color;
    }
}

.quarto-title-banner{
    background-color: transparent;
}

.quarto-title-banner h1, .quarto-title-banner .h1, .quarto-title-banner h2, .quarto-title-banner .h2 {
    font-family: $font-family-headings;
    font-weight: $font-weight-headings;
}

.listing-categories .listing-category,
.quarto-categories .quarto-category {
    color: $theme-header-colour !important;
    border-color: $theme-header-colour !important;

    a {
        color: $theme-header-colour !important;

        &:hover{
            color: $theme-body-bg !important;
        }
    }

    &:hover{
        background-color: $theme-header-colour !important;
        color: $theme-body-bg !important;
    }
}

.description p {
    text-align: center; 
    margin: 0 1em 10em 1em;
    padding: 0 0 5em 0;
  }
  
  .description a {
    text-decoration: underline !important;
  }
  
  .description a:hover {
    text-decoration: none !important;
  }


.card {
    background: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 8px 8px 0px 0px;
}

.quarto-grid-item .card-title {
    margin-bottom: .5em !important;
}

.listing-date {
    font-family: $font-family-sans-serif;
}

a {
    color: $theme-link-color !important;
    &:hover {
        color: $theme-link-hover-color;
    }
}

.page-columns .column-page-left table {
    background-color: $theme-body-bg;
}

.page-link {
    border-color: $theme-text-colour;

    &:hover {
        border-color: $theme-text-colour;
        color: $theme-link-hover-color;
    }
}

.page-link.active, .active > .page-link {
    border-color: $theme-text-colour;
    background-color: $theme-header-colour;
    color: $theme-body-bg !important;
}

.footer .nav-footer{
    background-color: $theme-body-bg;
}

.nav-footer a {
    color: $theme-link-color;

    &:hover {
        text-decoration: underline;
        color: $theme-link-hover-color;
      }
}
