<div class="delay t-3">
  <h2>Recent Art</h2>
  {{- $notes := (where .Site.Pages "Params.tags" "intersect" (slice "oeuvre")) -}}
  <ul class="delay t-3 stagger">
    {{- range first 1 (sort $notes ".Date" "desc") -}}
    <li>
      <div class="section">
        <div class="desc">
          {{ $img := ""}}
          {{ if .Params.cover (and .Params.resource) }}
              {{ $img := .Resources.GetMatch (printf "$s%s" .Params.resource .Params.cover) }}
          {{else}}
            {{ $img := .Resources.GetMatch (printf "%s" .Params.cover) }}
          {{end}}
          {{if $img}}
          <a href="{{ .Permalink }}"><img src="{{ .Params.cover }}" width="200vw"></a>
          <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
          {{ else }}
          <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
          {{ .Summary }}
          {{ end }}
        </div>
        <p class="meta">
          {{ .Date.Format "Jan 2, 2006" }}
        </p>
      </div>
    </li>
    {{end}}
  </ul>
  <a href="/the-art-studio">See {{sub (len $notes) 1}} more →</a>
</div>