<div class="delay t-3">
  <h2>Recent Art</h2>
  {{- $notes := (where .Site.RegularPages "Params.tags" "intersect" (slice "oeuvre")) -}}
  <ul class="delay t-3 stagger">
    {{range first 1 $notes }}
    <li>
      <div class="section">
        <div class="desc">
          {{ if .Params.cover }}
          {{ $img := .Resources.GetMatch (printf "images/%s" .Params.cover) }}
          <a href="{{ .Permalink }}"><img src="{{ $img.Permalink }}" width="200vw"></a>
          <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
          {{ else }}
          <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
          {{ .Summary }}
          {{ end }}
        </div>
        <p class="meta">
          {{ .Lastmod.Format "Jan 2, 2006" }}
        </p>
      </div>
    </li>
    {{end}}
  </ul>
  <a href="/the-art-studio">See {{sub (len $notes) 1}} more →</a>
</div>