<div class="delay t-3">
  <h2>Recent Art</h2>
  {{$notes := where .Site.RegularPages "Section" "art"}}
  <ul class="delay t-3 stagger">
    {{range first 1 }}
    <li>
      <div class="section">
        <div class="desc">
          <a href="{{ .Permalink }}"><img src="{{.Params.cover}}" width="200vw"></a>
          <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
        </div>
        <p class="meta">
          {{ .Lastmod.Format "Jan 2, 2006" }}
        </p>
      </div>
    </li>
    {{end}}
  </ul>
  <a href="/books">See {{sub (len $notes) 1}} more →</a>
</div>