<form role="form" class="darkmode">
<fieldset style="border: none;">
    <legend class="visually-hidden">Theme toggle</legend>
    <input type="checkbox" role="switch" class="toggle visually-hidden" id="darkmode-toggle"/>
    <label for="darkmode-toggle" id="toggle-label-light">
        <span class="visually-hidden">Disable light mode</span>
        <i id="dayIcon" class="fa-solid fa-sun"></i>
    </label>

    <label for="darkmode-toggle" id="toggle-label-dark">
        <span class="visually-hidden">Disable dark mode</span>
        <!-- TODO: Fix the colour on the fa-moon -->
        <i id="nightIcon" class="fa-solid fa-moon"></i>
    </label>
</fieldset>
</form>