{{ $img := resources.GetMatch "/imgs/opengraph-base.png" }}
{{ $font := resources.GetMatch "/font/CaslonThree.otf" }}

{{ $size := 80 }}
{{ $title := $.LinkTitle }}

{{ if gt (len $title) 20 }}
{{ $size = 70 }}
{{end}}

{{ $text := $title }}
{{ $textOptions := dict
"color" "#000"
"size" $size
"lineSpacing" 10
"x" 65 "y" 80
"font" $font
}}

{{ $img = $img | images.Filter (images.Text $text $textOptions) }}

{{ $textOptions := dict
"color" "#000"
"size" 20
"lineSpacing" 10
"x" 65 "y" 250
"font" $font
}}

{{ $text := time.Format "Monday, Jan 2, 2006" $.Date }}
{{ $img = $img | images.Filter (images.Text $text $textOptions) }}

{{ $basename := $.Site.Data.config.domain }}
{{ $textOptions := dict
"color" "#000"
"size" 20
"lineSpacing" 10
"x" 900 "y" 565
"font" $font
}}
{{ $img = $img | images.Filter (images.Text $basename $textOptions) }}
{{ return $img }}