<header>
    {{ $config := cond (eq $.Site.Language.Lang "en") "config" (printf "config.%s" $.Site.Language.Lang) }}
    <h1 id="page-title"><a class="root-title" href="{{ "" | absLangURL }}">{{ ( index $.Site.Data $config ).title | default $.Site.Data.config.title }}</a></h1>
    <div class="spacer"></div>

    <form role="search">
        <div role="search">
            <label for="search-icon">
                <span class="visually-hidden">{{ i18n "search_for_something" }}</span>
            </label>
            <input type="text" id="search-icon" class="search-bar" placeholder="{{ i18n "search" }}"/>
        </div>
    </form>
    {{partial "darkmode.html" .}}
</header>