<div class="delay t-3">
  <a href="#currently-reading">
    <h2 id="currently-reading">Currently Reading</h2>
  </a>
  {{- $notes := where .Site.RegularPages "Section" "books" -}}
  <ul class="delay t-3 stagger">
    {{- range first 1 (where $notes "Params.status" "==" "In Progress" ) -}}
    <li>
      <div class="section">
        <div class="desc">
          {{ $alt := "" -}}
          {{- if .Params.alt -}}
          {{- $alt = .Params.alt }}
          {{- else -}}
          {{- $alt = "This image is missing alt text." }}
          {{- end -}}
          {{- $coverPath := .Params.cover | default "imgs/missing.png" -}}
          {{- $cover := resources.GetMatch $coverPath }}
          <div class="article-img">
            <img src="{{ $cover.RelPermalink }}" alt="{{ $alt }}" width="200vw">
          </div>
          <h3><a href="{{ .RelPermalink }}">{{- .Title -}}</a></h3>
        </div>
        <p class="meta">
          {{- .Lastmod.Format "Jan 2, 2006" -}}
        </p>
      </div>
    </li>
    {{end}}
  </ul>
  <a href="/the-antilibrary">See {{sub (len $notes) 1}} more →</a>
</div>