<script type="application/javascript">
  if (navigator.getEnvironmentIntegrity !== undefined) {
    document.querySelector("body").innerHTML =
      `<div id="index" class="singlePage">
      <h1>Your browser contains Google DRM</h1>
      <p>"Web Environment Integrity" is a Google euphemism for a DRM that is designed to prevent
      ad-blocking. In support of an open web, this website does not function with this DRM. Please install
      a browser such as <a href = "https://www.mozilla.org/en-US/firefox/new/">Firefox</a> that
      respects your freedom and supports ad blockers.</p>
      </div>`
  }
</script>