<div class="delay t-2">
  <a href="#recent-writing">
  <h2 id="recent-writing">Recent Writing</h2>
  </a>
  {{- $writing := (where .Site.RegularPages "Section" "posts") -}}
  <ul class="delay t-2 stagger">
    {{- range first 3 $writing -}}
    <li>
      <div class="section">
        <div class="desc">
          <h3><a href="{{ .RelPermalink }}">{{- .Title -}}</a></h3>
        </div>
        <p class="meta">
          {{- .WordCount }} words on {{ partial "date-fmt.html" . -}}
        </p>
        {{- partial "tags.html" . -}}
      </div>
    </li>
    {{- end -}}
  </ul>
  {{- if (lt (len $writing) 3) -}}
  {{- else -}}
  <a href="/posts">See {{- sub (len $writing) 3 -}} more →</a>
  {{- end -}}
</div>