{{- $featured := partial "get-featured-image.html" . }}
{{ $title := "" }}{{ if .Title }}{{ $title = ( printf "%s ✧ %s" .Title $.Site.Data.config.title )}}{{ else }}{{ $title = $.Site.Data.title | default $.Site.Data.config.title }}{{ end }}
{{- if $featured -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ $featured.Permalink }}"/>
{{- end -}}
<meta name="twitter:title" content="{{ $title }}"/>
<meta name="twitter:description" content="{{- with $.Site.Data.config.description }}{{ . }}{{- else }}{{- if or .IsPage .IsSection}}
  {{- .Summary | default $title }}{{- else }}
  {{- with .Site.Params.description }}{{ . }}{{- end }}{{- end }}{{- end -}}"/>
{{ range .Site.Data.config.rel_me -}}
{{ if strings.Contains . "twitter.com" }}
{{ $twitter_handle := index (split . "/") (sub (len (split . "/")) 1) }}
<meta name="twitter:site" content="@{{ $twitter_handle }}"/>
<meta name="twitter:creator" content="@{{ $twitter_handle }}"/>
{{ end }}
{{ end }}