<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div id="index" class="singlePage">
    {{partial "header.html" .}}
    <img id="banner" src="/banner.svg" />
    <div class="bio">
        <div class="writing-sidebar">
            <div class="delay t-2">
                <h2>Recent Writing</h2>
                {{$writing := where .Site.RegularPages "Section" "posts" }}
                <ul class="delay t-2 stagger">
                    {{range first 3 $writing }}
                    <li>
                        <div class="section">
                            <div class="desc">
                                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                            </div>
                            <p class="meta">
                                {{.WordCount}} words on {{partial "date-fmt.html" .}}
                            </p>
                            {{partial "tags.html" .}}
                        </div>
                    </li>
                    {{end}}
                </ul>
                <a href="/posts">See {{sub (len $writing) 3}} more →</a>
            </div>
            <div class="delay t-3">
                <h2>Recent Notes</h2>
                {{$notes := where .Site.RegularPages "Section" "notes"}}
                <ul class="delay t-3 stagger">
                    {{range first 2 $notes }}
                    <li>
                        <div class="section">
                            <div class="desc">
                                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                            </div>
                            <p class="meta">
                                {{.WordCount}} words on {{ .Lastmod.Format "Jan 2, 2006" }}
                            </p>
                            {{partial "tags.html" .}}
                        </div>
                    </li>
                    {{end}}
                </ul>
                <a href="/notes">See {{sub (len $notes) 2}} more →</a>
            </div>
            <div class="delay t-3">
                <h2>Currently Reading</h2>
                {{$notes := where .Site.RegularPages "Section" "the-antilibrary"}}
                <ul class="delay t-3 stagger">
                    {{range first 1 (where $notes "Params.status" "==" "In Progress" ) }}
                    <li>
                        <div class="section">
                            <div class="desc">
                                <a href="{{ .Permalink }}"><img src="{{.Params.cover}}" width="200vw"></a>
                                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                            </div>
                            <p class="meta">
                                {{ .Lastmod.Format "Jan 2, 2006" }}
                            </p>
                        </div>
                    </li>
                    {{end}}
                </ul>
                <a href="/books">See {{sub (len $notes) 1}} more →</a>
            </div>
        </div>
        <article>
            <div class="delay stagger">{{partial "textprocessing.html" . }}</div>
        </article>
    </div>
    <div class="delay t-4">
        {{partial "footer.html" .}}
    </div>
</div>
</body>
</html>