<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body>
{{- partial "search.html" . -}}
<div id="index" class="singlePage">
    {{- partial "header.html" . -}}
    <img id="banner" src="/imgs/banner.svg" alt="A psychedelic styled black and white stylised drawing of cup of tea with a daisy floating in it."/>
    <div class="bio">
        <div class="writing-sidebar">
            {{ partial "note-display.html" . }}
            {{ partial "art-display.html" . }}
            {{ partial "writing-display.html" . }}
            {{ partial "reading-display.html" . }}
        </div>
        <article>
            <div class="delay stagger">{{ partial "textprocessing.html" . }}</div>
        </article>
    </div>
    <div class="delay t-4">
        {{- partial "footer.html" . -}}
    </div>
</div>
{{- if $.Site.Data.config.enableKofi -}}
    {{- partial "kofi-donation.html" . -}}
{{- end -}}
{{ partial "web-integrity-protest.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>