<section>
    {{- $tag := .Get "tag" }}
    {{- $notes := (where .Site.RegularPages "Params.tags" "intersect" (slice $tag)) -}}
    {{- with $notes -}}
    {{- range . -}}
    {{- $img := "" -}}
    {{- $img = resources.GetMatch (printf "%s" .Params.cover) -}}
    <div class="gallery">
        {{- if $img -}}
            {{- $resized := $img.Fill "600x600 Center" -}}
            {{- $alt := "" -}}
            {{- if .Params.alt -}}
                {{- $alt = .Params.alt }}
            {{- else -}}
                {{- $alt = "This image is missing alt text." }}
            {{- end -}}
        <img src="{{ $resized.RelPermalink }}" alt="{{ $alt }}" width="200" />
        {{- else -}}
        <img src="/imgs/missing.png" alt="No image available." width="200" />
        {{- end -}}
        <h3>{{ .Title }}</h3>
        {{- if .Params.kofi -}}
        <a href="{{ .Params.kofi }}">Check it out on Ko-Fi →</a>
        {{- else -}}
        <a href="{{ .RelPermalink }}">Read more →</a>
        {{- end -}}
    </div>
    {{- end -}}
    {{- end -}}
</section>