<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>

{{- $tag := .Get "tag" }}
{{- $notes := (where .Site.RegularPages "Params.tags" "intersect" (slice $tag)) -}}

{{- with $notes -}}
  {{- range . -}}
{{printf "images/%s<br>" .Params.cover}}
  {{- if .Params.cover -}}

    {{- $img := .Resources.GetMatch (printf "images/%s" .Params.cover) -}}

{{- if $img -}}

      {{- $imgLink := printf "%s%s" .Site.BaseURL .Params.cover -}}
      {{- $imgTitle := index (split .Params.cover ".") 0 -}}
      {{- $imgTitle := index (split $imgTitle "/") 2 | humanize -}}
      {{- $resized := $img.Fill "300x300 Center" -}}
     <a href="{{ $imgLink }}" data-lightbox="x" data-title="<a href='{{.Permalink}}'>{{ .Name }}</a>" data-src="{{.Permalink}}">
      <img src="{{ $resized.Permalink }}" data-src="{{.Permalink}}" width="200"/></a>
  {{- end -}}
{{- end -}}

{{- end -}}
{{- end -}}