{{- $tag := .Get "tag" }}
{{- $notes := (where .Site.RegularPages "Params.tags" "intersect" (slice $tag)) -}}
{{- with $notes -}}
<ul class="section-ul">
    {{- range . -}}
    <li class="section-li">
        <div class="section">
            <div class="desc">
                <h3><a href="{{ .RelPermalink }}" class="internal-link" data-src="{{ .RelPermalink }}">{{- .Title -}}</a></h3>
                <p style="padding-bottom: 1em; padding-top: 1em;">{{.Summary}}</p>
            </div>
        </div>
        <ul class="tags">
            {{ range (.GetTerms "tags") }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle | title}}</a></li>
            {{ end }}
        </ul>
    </li>
    {{- end -}}
</ul>
{{- end -}}